---
layout: default
---


<div class="heading" id="toc">
  <h2>Table of contents</h2>
</div>
<div class="section toc">
  <div class="col">
    <h4><a href="#css">CSS</a></h4>
    <ul>
      <li><a href="#css-syntax">CSS syntax</a></li>
      <li><a href="#css-comments">Comments</a></li>
      <li><a href="#css-identifiers">Class and ID names</a></li>
      <li><a href="#css-declaration-order">Declaration order</a></li>
      <li><a href="#css-import">Don't use <code>@import</code></a></li>
      <li><a href="#css-important"><code>!important</code></a></li>
      <li><a href="#css-media-queries">Media query placement</a></li>
      <li><a href="#css-prefixed-properties">Prefixed properties</a></li>
      <li><a href="#css-single-declarations">Rules with single declarations</a></li>
      <li><a href="#css-shorthand">Shorthand notation</a></li>
      <li><a href="#css-selectors">Selectors</a></li>
      <li><a href="#css-nesting">Nesting in Less and Sass</a></li>
      <li><a href="#css-operators">Operators in Less and Sass</a></li>
      <li><a href="#css-colors">Colors in Less and Sass</a></li>
      <li><a href="#css-organization">Organization</a></li>
    </ul>
  </div>
  <div class="col"></div>
</div>

<div class="heading" id="css">
  <h2>CSS</h2>
</div>

<div class="section" id="css-syntax">
  <div class="col">
    <h3>Syntax</h3>
    <ul>
      <li>Use soft tabs with two spaces.</li>
      <li>When grouping selectors, keep individual selectors to a single line.</li>
      <li>Include one space before the opening brace of declaration blocks for legibility.</li>
      <li>Place closing braces of declaration blocks on a new line.</li>
      <li>Include one space after <code>:</code> for each declaration.</li>
      <li>Each declaration should appear on its own line for more accurate error reporting.</li>
      <li>End all declarations with a semi-colon. The last declaration's is optional, but your code is more error prone without it.</li>
      <li>Comma-separated property values should include a space after each comma (e.g. <code>box-shadow</code>).</li>
      <li>Don't include spaces after commas <em>within</em> <code>rgb()</code>, <code>rgba()</code>, <code>hsl()</code>, <code>hsla()</code>, or <code>rect()</code> values. This helps differentiate multiple color values (comma, no space) from multiple property values (comma with space).</li>
      <li>Lowercase all hex values, e.g. <code>#ccc</code>.</li>
      <li>Use shorthand hex values where available, e.g. <code>#ccc</code> instead of <code>#cccccc</code>.</li>
      <li>Use the color names <code>white</code> and <code>black</code> instead of their hex counterparts: <code>#fff</code> and <code>#000</code>. For all other colors, use hex codes rather than color names.</li>
      <li>Quote attribute values in selectors, e.g. <code>input[type='text']</code>. <a href="http://mathiasbynens.be/notes/unquoted-attribute-values#css">They’re only optional in some cases</a>, and it’s a good practice for consistency.</li>
      <li>Avoid specifying units for zero values, e.g. <code>margin: 0;</code> instead of <code>margin: 0px;</code>.</li>
      <li>Use single quotes (<code>'</code>) rather than double quotes (<code>"</code>) in attribute selectors and properties. Do not use quotes in URI properties (<code>url()</code>). Exception: the <code>@charset</code> rule <a href="http://www.w3.org/TR/CSS21/syndata.html#charset" title="Syntax and basic data types">requires double quotation marks</a>.</li>
    </ul>
    <p>Questions on the terms used here? See the <a href="http://en.wikipedia.org/wiki/Cascading_Style_Sheets#Syntax">syntax section of the Cascading Style Sheets article</a> on Wikipedia.</p>
  </div>
  <div class="col">
    {% highlight css %}{% include css/syntax.css %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-comments">
  <div class="col">
    <h3>Comments</h3>
    <p>Code is written and maintained by people. Ensure your code is descriptive, well commented, and approachable by others. Great code comments convey context or purpose. Do not simply reiterate a component or class name.</p>
    <p>Be sure to write in complete sentences for larger comments and succinct phrases for general notes.</p>
  </div>
  <div class="col">
    {% highlight css %}{% include css/comments.css %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-identifiers">
  <div class="col">
    <h3>Class and ID names</h3>
    <ul>
      <li>Keep classes and IDs in lower <code>spine-case</code> (not <code>snake_case</code> or <code>camelCase</code>).</li>
      <li>Keep classes as short and succinct as possible, but avoid excessive and arbitrary shorthand notation. <code>.btn</code> is recognizable as <em>button</em>, but <code>.s</code> doesn't mean anything.</li>
      <li>Use meaningful names and avoid purely presentational ones; the latter is a sign of laziness and sloppy code.</li>
      <li>Do <em>not</em> use special prefixes like <code>.e-*</code> or <code>.js-*</code> to indicate an element as a target of behavior (as opposed to style). More often than not they're just doubling up on something that already has a meaningful name and only serve to make your code harder to read.</li>
    </ul>
    <p>These rules also apply when creating Sass and Less variable names.</p>
  </div>
  <div class="col">
    {% highlight css %}{% include css/class-names.css %}{% endhighlight %}
    {% highlight html %}{% include css/class-names.html %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-declaration-order">
  <div class="col">
    <h3>Declaration order</h3>
    <p>Related property declarations should be grouped together following the order:</p>
    <ol>
      <li>Layout</li>
      <li>Positioning</li>
      <li>Box model</li>
      <li>Visual</li>
      <li>Typography</li>
      <li>Content &amp; animations</li>
    </ol>
    <p>Layout and positioning come first because they can remove an element from the normal flow of the document and override box model related styles. The box model comes next as it dictates a component's dimensions and placement.</p>
    <p>Everything else takes place <em>inside</em> the component or without impacting the previous two sections, and thus they come last.</p>
    <p>For a complete list of properties and their order, please see <a href="https://github.com/ravasthi/css3-foundation/blob/master/stylelint.config.js#L36">my stylelint-order<sup>†</sup> config</a>.</p>
    <p><sup>†</sup> <a href="https://www.npmjs.com/package/stylelint-order">stylelint-order</a> is a plugin to the popular style linter <a href="https://stylelint.io">stylelint</a>, that enables you to check the order of your style declarations.</p>
  </div>
  <div class="col">
    {% highlight css %}{% include css/declaration-order.css %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-import">
  <div class="col">
    <h3>Don't use <code>@import</code></h3>
    <p>Compared to <code>&lt;link&gt;</code>s, <code>@import</code> is slower, adds extra page requests, and can cause other unforeseen problems. Avoid them and instead opt for an alternate approach:</p>
    <ul>
      <li>Use multiple <code>&lt;link&gt;</code> elements</li>
      <li>Compile your CSS with a preprocessor like Sass or Less into a single file. (<code>@import</code> is okay in this case)</li>
      <li>Concatenate your CSS files with features provided in Rails, Jekyll, and other environments</li>
    </ul>
    <p>For more information, <a href="http://www.stevesouders.com/blog/2009/04/09/dont-use-import/">read this article by Steve Souders</a>.</p>
  </div>
  <div class="col">
    {% highlight html %}{% include css/import.html %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-important">
  <div class="col">
    <h3>NEVER USE <code>!important</code>. I MEAN IT.</h3>
    <ul>
      <li>There is precisely one legitimate use of <code>!important</code>: when you need to override a style and you don't have access to the stylesheet in which it is defined, and therefore no inkling as to its specificity.</li>
      <li>If you are trying to override a style in your own code base, do not use <code>!important</code>. It's an admission of failure, as well as the opening shot in a (thermonuclear) war of specificity against yourself.</li>
      <li>CI builds will be configured to fail on use of <code>!important</code>.</li>
    </ul>
    <p>In short, don't do it.</p>
  </div>
  <div class="col">
    {% highlight css %}{% include css/important.css %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-media-queries">
  <div class="col">
    <h3>Media query placement</h3>
    <p>Place media queries as close to their relevant rule sets whenever possible. Don't bundle them all in a separate stylesheet or at the end of the document. Doing so only makes it easier for folks to miss them in the future. Here's a typical setup.</p>
  </div>
  <div class="col">
    {% highlight css %}{% include css/media-queries.css %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-prefixed-properties">
  <div class="col">
    <h3>Prefixed properties</h3>
    <p>Don't use vendor prefixes in your CSS:</p>
    <ul>
      <li>They make your code hard to read.</li>
      <li>Browser support for experimental properties changes, in general, faster than you revisit vendor-prefixed CSS you’ve already written.</li>
    </ul>
    <p>Instead, write your code without vendor prefixes and use a plugin like <a href="https://github.com/postcss/autoprefixer">autoprefixer</a> in your build pipeline.</p>
  </div>
  <div class="col">
    {% highlight css %}{% include css/prefixed-properties.css %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-single-declarations">
  <div class="col">
    <h3>Single declarations</h3>
    <p>In instances where a rule set includes only one declaration, keep the line breaks for better readability; your declarations will begin in the same column and be easier to scan.</p>
  </div>
  <div class="col">
    {% highlight css %}{% include css/single-declarations.css %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-shorthand">
  <div class="col">
    <h3>Shorthand notation</h3>
    <p>Strive to limit use of shorthand declarations to instances where you must explicitly set all the available values. Commonly overused shorthand properties include:</p>
    <ul>
      <li><code>padding</code></li>
      <li><code>margin</code></li>
      <li><code>font</code></li>
      <li><code>background</code></li>
      <li><code>border</code></li>
      <li><code>border-radius</code></li>
    </ul>
    <p>Oftentimes we don't need to set all the values a shorthand property represents. For example, HTML headings only set top and bottom margin, so when necessary, only override those two values. Excessive use of shorthand properties often leads to sloppier code with unnecessary overrides and unintended side effects.</p>
    <p>That said, there is no denying that using shorthand properties is convenient. The rule here is to use judgement and avoid overzealously using shorthand properties, especially if you know you'll need to override them in part later.</p>
    <p>The Mozilla Developer Network has a great article on <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/Shorthand_properties">shorthand properties</a> for those unfamiliar with notation and behavior.</p>
  </div>
  <div class="col">
    {% highlight css %}{% include css/shorthand.css %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-selectors">
  <div class="col">
    <h3>Selectors</h3>
    <ul>
      <li>Keep selectors short and strive to limit the number of elements in each selector to three; a shorter selector is a more performant selector, and helps to keep you from getting into a specificity war with yourself.</li>
      <li>Use classes over generic element tags for optimum rendering performance.</li>
      <li>Avoid using several attribute selectors (e.g. <code>[class^='…']</code>) on commonly occurring components. Browser performance is known to be impacted by these.</li>
      <li>Scope classes to the closest parent <strong>only</strong> when necessary (see <a href="#css-nesting">Nesting</a> below).</li>
    </ul>
  </div>
  <div class="col">
    {% highlight css %}{% include css/selectors.css %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-nesting">
  <div class="col">
    <h3>Nesting in Less and Sass</h3>
    <p>Avoid unnecessary nesting. Just because you <em>can</em> nest doesn't mean you should. Consider nesting only if you must scope styles to a parent and if there are multiple elements to be nested. The consequence is needlessly long, less performant, overly specific selectors.</p>
    <p>Also take care with <code>&amp;</code>, the parent selector:</p>
    <ul>
      <li>Avoid un-nesting with <code>&amp;</code> (placing it at the end of a nested selector). It's confusing as hell and often has unintended consequences.</li>
      <li>Conversely, the parent selector is well-suited to defining styles for pseudo-classes and pseudo-elements.</li>
    </ul>
  </div>
  <div class="col">
    {% highlight scss %}{% include css/nesting.scss %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-operators">
  <div class="col">
    <h3>Operators in Less and Sass</h3>
    <p>For improved readability, wrap all math operations in parentheses with a single space between values, variables, and operators. Take special care to do this for shorthand properties.</p>
  </div>
  <div class="col">
    {% highlight scss %}{% include css/operators.scss %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-colors">
  <div class="col">
    <h3>Colors in Less and Sass</h3>
    <p>Don't ever use raw hex colors in Less and Sass. Define them with human-readable variable names and use those. Better yet, assign colors to variables indicating their semantic usage.</p>
    <p>Using semantic color variables throughout your code is more readable and easier to change.</p>
  </div>
  <div class="col">
    {% highlight scss %}{% include css/colors.scss %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-organization">
  <div class="col">
    <h3>Organization</h3>
    <ul>
      <li>Organize sections of code by component/feature or page.</li>
      <li>Develop a consistent commenting hierarchy.</li>
      <li>Use consistent white space to your advantage when separating sections of code for scanning larger documents.</li>
      <li>When using multiple CSS files, bias toward breaking them down by component instead of page. Pages can be rearranged and components moved.</li>
    </ul>

    <p>An example file hierarchy:</p>
    {% highlight text %}{% include css/organization-files.txt %}{% endhighlight %}
  </div>
  <div class="col">
    {% highlight scss %}{% include css/organization-comments.scss %}{% endhighlight %}
  </div>
</div>

