---
layout: default
---


<div class="heading" id="toc">
  <h2>Table of contents</h2>
</div>
<div class="section toc">
  <div class="col">
    <h4><a href="#javascript">JavaScript</a></h4>
    <ul>
      <li><a href="#js-files">JavaScript files</a></li>
      <li><a href="#js-syntax">Syntax</a></li>
    </ul>
  </div>
</div>


<div class="heading" id="javascript">
  <h2>JavaScript</h2>
</div>

<div class="section" id="js-files">
  <div class="col">
    <h3>JavaScript files</h3>
    <ul>
      <li>JavaScript programs should be stored in and delivered as <code>.js</code> files.</li>
      <li>JavaScript code should not be embedded in HTML unless the code is specific to a single session. Code in HTML adds significantly to page weight with no opportunity for mitigation by caching and compression.</li>
      <li><code>&lt;script src=&quot;filename.js&quot;&gt;&lt;/script&gt;</code> tags should be placed as late in the body as possible. This reduces the effects of delays imposed by script loading on other page components. There is no need to use the language or type attributes. It is the server, not the script tag, that determines the MIME type.</li>
    </ul>
  </div>
  <div class="col">
    {% highlight html %}{% include js/script-includes.html %}{% endhighlight %}
  </div>
</div>

<div class="section" id="js-syntax">
  <div class="col">
    <h3>Syntax</h3>
    <ul>
      <li>Use soft tabs with four spaces.</li>
      <li>Lines should not exceed 100 characters. When a statement will not fit on a single line, it may be necessary to break it. Place the break after an operator, ideally after a comma. A break after an operator decreases the likelihood that a copy-paste error will be masked by semicolon insertion. The next line should be indented at least two tabs (eight spaces).</li>
      <li>Module and class names should be in <code>UpperCamelCase</code>.</li>
      <li>Function and variable names should be in <code>lowerCamelCase</code>.</li>
    </ul>
  </div>
  <div class="col">
    {% highlight js %}{% include js/syntax.js %}{% endhighlight %}
  </div>
</div>
