/*-----[ foundation ]-----------------------------------------------------------
| Reusable content styles. Define your application-wide styles, like links,
| headers, body text, clearfix, etc. here. See the readme for information on
| recommended rule order.
*/

/*----------[ table of contents ]-----------------------------------------------
| tags
| non-semantic styles
*/

/*----------[ tags ]------------------------------------------------------------
*/

html {
  @include secondary-text;

  @media (min-width: 48em) {
    @include body-text;
  }
}

body {
  margin: 0;

  color: $body-text-color;

  font: 1rem/1.5 $body-text-family;
}

a {
  color: $link-color;

  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

h1,
h2,
h3,
h4 {
  margin: 0 0 0.5rem;

  color: $heading-text-color;

  font-weight: normal;

  letter-spacing: -0.05em;
}

h1 {
  @include heading-text;
}

h2 {
  @include subheading-text;
}

h3 {
  @include secondary-subheading-text;
}

h4 {
  @include large-text;
}

p,
dl,
ol,
ul {
  margin: 0 0 $body-text-line-height;
}

blockquote {
  position: relative;

  margin: 0 1rem 1rem;

  color: $secondary-text-color;

  font-style: italic;

  p {
    margin-bottom: 0;
  }
}

ul,
ol {
  margin-bottom: $body-text-line-height;
}

ul {
  margin-left: $column-width;

  list-style: disc;
}

ol {
  margin-left: 2 * $column-width;

  list-style: decimal;
}

li {
  margin-bottom: 0.25rem;
}

/* Tighten up margin on last items */
p:last-child,
ul:last-child,
blockquote:last-child {
  margin-bottom: 0;
}

sub {
  vertical-align: sub;
}

sup {
  vertical-align: super;
}

/*----------[ non-semantic styles ]---------------------------------------------
*/
.keep-together {
  @include keep-together;
}

.cross-out {
  text-decoration: line-through;
}

.indent {
  margin-left: $column-width;
}
