/*-----[ masthead ]-------------------------------------------------------------
*/
/*----------[ default ]---------------------------------------------------------
*/
.masthead {
  padding: $body-text-line-height $gutter-width/3;

  color: $masthead-text-color;
  background-color: $masthead-bg;

  h1 {
    @include large-text;
    margin-right: 2 * $column-width;
    margin-bottom: 0;
    color: $masthead-heading-text-color;

    display: inline-block;
  }

  .lead {
    @include large-text;
  }

  .icon {
    display: inline-block;
  }

  a {
    color: $masthead-link-color;

    transition: all 0.15s ease-in-out;

    &:hover {
      color: $masthead-link-active-color;
    }
  }

  .page-title a {
    color: $masthead-heading-text-color;

    &:hover {
      color: darken($masthead-heading-text-color, 10);

      text-decoration: none;
    }
  }

  .masthead-nav {
    display: inline-block;

    a {
      display: inline-block;
      margin-right: $column-width;

      text-decoration: none;
    }
  }

  .icon-write, .lead {
    display: none;
  }

  @media (min-width: 38em)
  {
    padding-left: $gutter-width;
    padding-right: $gutter-width;
  }
}

/*----------[ home ]------------------------------------------------------------
*/
#home {
  .masthead {
    padding: 3rem 1rem;

    text-align: center;

    h1 {
      @include heading-text;
      margin-right: 0;
      margin-bottom: 0.25rem;
      display: block;
    }

    .icon-write {
      display: inline-block;
      font-size: 3rem;
    }

    .lead {
      display: block;
    }

    @media (min-width: 38em) {
      padding-top: 4rem;
      padding-bottom: 4rem;
    }
  }

  .masthead-nav {
    @include large-text;
  }
}
