/*-----[ sections ]-------------------------------------------------------------
*/
/*----------[ general ]---------------------------------------------------------
*/
.section {
  border-bottom: 1px solid $section-border;
}

/*----------[ toc ]-------------------------------------------------------------
*/
.toc .col + .col {
  background-color: $page-bg;
}

/*----------[ heading ]---------------------------------------------------------
*/
.heading {
  padding: $body-text-line-height $gutter-width/3;

  background-color: $section-border;

  h1, h2, h3, h4 {
    margin-bottom: 0;
  }

  @media (min-width: 38em) {
    padding: 2 * $body-text-line-height $gutter-width;
  }
}

/*----------[ footer ]----------------------------------------------------------
*/
.footer {
  padding: 3rem 1rem;

  font-size: 90%;

  text-align: center;

  p {
    margin-bottom: 0.5rem;
  }
}

.quick-links {
  margin-left: 0;

  list-style: none;
}

.quick-links li {
  display: inline;
}
