<header class="masthead">
  <div class="container">
    <span class="icon icon-write">&#9997;</span>
    <h1 class="page-title"><a href="{{ base }}/">{{ site.name }}</a></h1>
    <p class="lead">{{ site.description }}</p>

    <div class="masthead-nav">
      <a href="https://github.com/ravasthi/code-guide">
        <span class="icon icon-github-circled"></span>
      </a>
      <a href="{{ base }}/html">HTML</a>
      <a href="{{ base }}/css">CSS</a>
      <a href="{{ base }}/javascript">JavaScript</a>
    </div>
  </div>
</header>
