/*-----[ colors ]---------------------------------------------------------------
*/
/*----------[ palette ]---------------------------------------------------------
*/
$dark-grey         : #2a2a2a;
$charcoal-grey     : #5a5a5a;
$mid-grey          : #7a7a7a;
$palest-grey       : #f7f7f9;
$translucent-white : rgba(white, 0.5);

$blue      : #08c;
$pale-blue : #dfe1e8;
$dark-blue : #2a3440;

$red       : #d44950;

/*----------[ semantic colors ]-------------------------------------------------
*/
$body-text-color      : $charcoal-grey;
$heading-text-color   : $dark-grey;
$secondary-text-color : $mid-grey;
$link-color           : $blue;
$code-color           : $red;

$page-bg              : white;
$code-bg              : $palest-grey;
$secondary-bg         : $palest-grey;

$section-border       : $pale-blue;

$masthead-bg                 : $dark-blue;
$masthead-text-color         : $translucent-white;
$masthead-heading-text-color : white;
$masthead-link-color         : $translucent-white;
$masthead-link-active-color  : white;
