/*-----[ grid ]-----------------------------------------------------------------
*/
$column-width: 1rem;
$gutter-width: 3rem;

.col {
  padding: $body-text-line-height $gutter-width/3;

  p {
    max-width: 40rem;
  }

  & + .col {
    border-top: 1px solid $section-border;

    background-color: $secondary-bg;
  }
}

@media (min-width: 38em) {
  .col {
    padding: 2 * $body-text-line-height $gutter-width;
  }
}

@media (min-width: 48em) {
  .section {
    display: table;

    width: 100%;

    table-layout: fixed;
  }

  .col {
    display: table-cell;

    padding: 2 * $body-text-line-height $gutter-width;

    vertical-align: top;

    & + .col {
      border-top: 0;
    }
  }
}
