.declaration-order {
  /* Layout */
  display: block;
  float: left;

  /* Positioning */
  position: absolute;
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  /* Box model */
  margin: 0;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  padding: 20px;
  width: 100px;
  height: 100px;

  /* Visual */
  opacity: 1;
  color: #333;
  background: #f5f5f5 url(images/page-bg.png);
  box-shadow: 0 1px 2px #ccc, inset 0 1px 0 white;

  /* Typography */
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  font-style: normal;

  /* Content & animations */
  cursor: pointer;
  transition: all 0.3s linear;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
}
