/*-----[ sections ]-------------------------------------------------------------
*/
/*----------[ general ]---------------------------------------------------------
*/
.section {
  border-bottom: 1px solid $section-border;
}

/*----------[ toc ]-------------------------------------------------------------
*/
.toc .col + .col {
  background-color: $page-bg;
}

/*----------[ heading ]---------------------------------------------------------
*/
.heading {
  padding: 2rem 1rem 1.5rem;

  background-color: $section-border;

  @media (min-width: 38em) {
    padding: 3rem 3rem 2.5rem;
  }
}

/*----------[ footer ]----------------------------------------------------------
*/
.footer {
  padding: 3rem 1rem;

  font-size: 90%;

  text-align: center;

  p {
    margin-bottom: 0.5rem;
  }
}

.quick-links {
  margin-left: 0;

  list-style: none;
}

.quick-links li {
  display: inline;
}
