<!-- Bad -->
<div>
  <h3>A title</h3>
  <p>Some regular content. <span>(Some content you need to separate from the rest of the content.)</span></p>
</div>

<!-- Better -->
<div class="content-block">
  <h3>A title</h3>
  <p>Some regular content. <span class="fine-print">(Some content you need to separate from the rest of the content.)</span></p>
</div>

<!-- Or this works too -->
<section>
  <h3>A title</h3>
  <p>Some regular content. <small>(Some content you need to separate from the rest of the content.)</small></p>
</section>

